<!DOCTYPE html>
<html>
<head>
    <title>Anon Chat</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/socket.io-1.2.0.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/lib/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    {{ content }}
</div>
</body>
</html>